.wrapper {
  :global {
    .ant-modal-footer {
      text-align: center;
    }

    .ant-modal-content {
      padding: 40px;
      border-radius: 10px;
    }

    .ant-modal-body {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
