@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #3d3d3d;
  font-family: 'Noto Sans JP', sans-serif;
}

code,
kbd,
samp,
pre {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1em;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

.cursor-pointer.expandable-list-item.bg-gray-gray_lighter ul div:last-child div:last-child div.false.border-gray-gray {
  border-bottom: 1px solid #d8d8d8 !important;
}

.w-full .space-y-3 .mt-1 {
  margin-top: 0.25rem !important;
}
