rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {


    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2024, 3, 15);
    }

    // // usersコレクションに対するルール
  // match /privateUsers/{userId} {
    //   allow read: if request.auth.uid != null && request.auth.uid == userId; 
    //   allow write: if request.auth.uid != null && request.auth.uid == userId;
    // }

    // // leadersWantedProjectsコレクションに対するルール
  // match /leadersWantedProjects/{projectId} {
    //   allow read: if true; 
    //   allow write: if request.auth.uid != null;
    // }

    // // eventProjectsコレクションに対するルール
  //  match /eventProjects/{projectId} {
    //   allow read: if true; 
    //   allow write: if request.auth.uid != null;
    // }
  }
}